/.idea/
/docker/.env
/ApiGateway/docker/ApiGateway-0.0.1-SNAPSHOT.jar
/AuthService/docker/AuthService-0.0.1-SNAPSHOT.jar
/ChatsService/docker/ChatsService-0.0.1-SNAPSHOT.jar
/FrontendService/docker/FrontendService-0.0.1-SNAPSHOT.jar
/NotificationService/docker/NotificationService-0.0.1-SNAPSHOT.jar
/UsersService/docker/UsersService-0.0.1-SNAPSHOT.jar
/WebSocket/docker/WebSocket-0.0.1-SNAPSHOT.jar
