<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чаты</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <a href="profile">Профиль</a>
        <button onclick="location.href='newChat'" class="new-chat">Новый чат</button>
    </nav>
</header>
<main>
    <h1>Чаты</h1>
    <ul id="chat-list">
    </ul>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js" defer></script>
</body>
</html>