<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <a href="chats">Чаты</a>
    </nav>
</header>
<main>
        <form id="new-dialog">
            <input type="text" id="nameCompanion" placeholder="Начать диалог с ..." >
            <a id="error-name">

            </a>
            <button type="submit">Начать</button>
        </form>
        <br>
        <form id="new-group">
            <input type="text" id="nameGroup" placeholder="Название группы ...">
            <button type="submit">Создать</button>
        </form>
</main>
<script src="/js/main.js" defer></script>
</body>
</html>