<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <a href="chats">Чаты</a>
    </nav>
</header>
<main>
    <form id="profile">
        <h1>Твой профиль</h1>
        <form id="logout-buton">
            <ul id="profileData">
            </ul>
            <button type="submit" id="logout">Выйти</button>
        </form>
    </form>
</main>
<script src="/js/main.js"></script>
</body>
</html>