<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
    <h1>Регистрация</h1>
    <form id="register-form">
        <input type="text" id="usernameR" placeholder="Введите никнейм" >
        <input type="password" id="passwordR" placeholder="Введите пароль">
        <input type="password" id="passwordRepeatR" placeholder="Повторите пароль" >
        <input type="text" id="phoneNumberR" placeholder="Введите номер телефона">
        <input type="text" id="fullNameR" placeholder="Введите полное имя" >
        <button type="submit">Зарегистрироваться</button>
    </form>
    <button onclick="location.href='auth'" class="button">Авторизация</button>
    <a id="error">

    </a>
</main>
<script src="/js/main.js" defer></script>
</body>
</html>